.map {
  height: 450px;
  padding: 1rem;
  background-color: white;  
  border-radius: .5rem;
  margin-top: 1rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.432);

  .leaflet-container {
    height: 100%;
    border-radius: .5rem;
  }
}

.popup-container {
  padding: 0;
  div {
    margin-bottom: 0.2rem;

    &:nth-last-child(-n + 3) {
      font-size: 1rem;
    }
  }
}

.popup-flag {
  width: 100%;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  img {
    width: 100px;
    border-radius: 2rem;
  }
}

.popup-name {
  font-weight: 700;
  font-size: 1.6rem;
}
